:root {
    --bs-primary: #000;
    --bs-accent: #00973d;
    --bs-secondary: #b6dda0;
}

.btn-secondary, .fsSubmitButton.fsSubmitButton.fsSubmitButton.fsSubmitButton {
    color: var(--bs-primary);
}

section.quote .inner {
    max-width: 1300px;
}

header .logo {
    max-width: 255px;
}
footer .logo-box img,
footer .logo-box svg {
    max-width: 575px;
}

#label-field179141033,
#label-field179141061 {
    text-align: center;
}
