@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --bs-light: #f8f9fa; }

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden; }

.fw-medium {
  font-weight: 500; }

.btn {
  font-weight: 600;
  padding: 10px 2rem;
  letter-spacing: 1px; }

.bg-primary {
  background-color: var(--bs-primary) !important; }

.bg-secondary {
  background-color: var(--bs-secondary) !important; }

.bg-light {
  background-color: var(--bs-light) !important; }

.bg-darker-gray {
  background-color: #ebebeb !important; }

p:last-child {
  margin-bottom: 0; }

.btn-primary,
.fsSubmitButton.fsSubmitButton.fsSubmitButton.fsSubmitButton {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary); }
  .btn-primary:hover,
  .fsSubmitButton.fsSubmitButton.fsSubmitButton.fsSubmitButton:hover {
    background-color: var(--bs-accent);
    border-color: var(--bs-accent); }

.btn-secondary {
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
  color: var(--bs-white); }
  .btn-secondary:hover {
    background-color: var(--bs-accent);
    border-color: var(--bs-accent);
    color: var(--bs-white); }

.btn-tertiary {
  background-color: var(--bs-tertiary);
  border-color: var(--bs-tertiary);
  color: var(--bs-white); }
  .btn-tertiary:hover {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: var(--bs-white); }

.fsSubmitButton.fsSubmitButton.fsSubmitButton.fsSubmitButton {
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.375rem;
  font-weight: 600;
  letter-spacing: 1px; }

.btn {
  border-width: 2px; }

.btn-large {
  padding: 1rem 2rem;
  font-size: 1.5rem; }

.btn-white {
  background-color: var(--bs-white);
  border-color: var(--bs-white); }
  .btn-white:hover {
    background-color: var(--bs-accent);
    border-color: var(--bs-accent); }

.row:not(.g-5):not(.g-4) {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 1.5rem; }

.bg-accent {
  background-color: var(--bs-accent) !important; }
  .bg-accent .btn-secondary:hover {
    background-color: var(--bs-white);
    border-color: var(--bs-white); }

.large-text {
  font-size: 2rem; }

.medium-text {
  font-size: 1.5rem; }

.py-large {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.py-extra-large {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.my-extra-large {
  margin-top: 5rem;
  margin-bottom: 5rem; }

.object-fit-cover {
  object-fit: cover; }

.text-accent {
  color: var(--bs-accent); }

img {
  max-width: 100%; }

@media (min-width: 1440px) {
  h1 {
    font-size: 3.5rem; } }

@media (min-width: 1440px) {
  h2 {
    font-size: 3rem; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--bs-primary);
  font-weight: 700; }

@media (min-width: 1200px) {
  .h3,
  h3 {
    font-size: 1.5rem; } }

@media (min-width: 992px) {
  section.logos .row.row.row {
    --bs-gutter-x: 80px; } }
section.logos img {
  max-height: 116px; }

.form-box {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  .form-box .form-footer {
    font-size: 14px; }
    .form-box .form-footer img {
      max-height: 40px; }

.fsBody.fsBody {
  background-color: transparent; }
  .fsBody.fsBody .fsSectionHeader {
    display: none; }
  .fsBody.fsBody > div {
    padding: 0; }
  .fsBody.fsBody [class*="StyledReferralBadge"] {
    display: none !important; }

.fsForm.fsForm {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins"; }
  .fsForm.fsForm .fsFieldShortAnswer,
  .fsForm.fsForm .fsFieldSelect,
  .fsForm.fsForm .fsFieldLongAnswer,
  .fsForm.fsForm .MuiOutlinedInput-input,
  .fsForm.fsForm .fsFieldEmail,
  .fsForm.fsForm .fsNumber,
  .fsForm.fsForm .fsFieldPhone {
    background-color: var(--bs-white);
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    outline: none;
    padding: 15px;
    height: auto; }
  .fsForm.fsForm .fsFieldSelect {
    min-height: 53px; }
  .fsForm.fsForm fieldset[role="radiogroup"] {
    justify-content: center; }
  .fsForm.fsForm .fsFieldCell {
    width: auto !important; }
  .fsForm.fsForm .fsValidationError,
  .fsForm.fsForm [class*="StyledErrorBanner"] {
    padding: 5px;
    border: none;
    border-radius: 10px; }
  .fsForm.fsForm .MuiOutlinedInput-notchedOutline {
    border: none !important;
    background-color: transparent; }
  .fsForm.fsForm .MuiOutlinedInput-root.MuiOutlinedInput-root {
    border: none;
    background-color: transparent;
    outline: none !important; }
  .fsForm.fsForm .fsLabel {
    font-weight: 600;
    color: var(--bs-primary); }
  .fsForm.fsForm fieldset [class*="ImageOptions__ImageOptionsContainer"] button {
    border: 2px solid var(--bs-primary);
    border-radius: 10px;
    transform: none !important;
    box-shadow: none !important;
    width: 120px;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 1rem; }
    .fsForm.fsForm fieldset [class*="ImageOptions__ImageOptionsContainer"] button * {
      cursor: pointer; }
    .fsForm.fsForm fieldset [class*="ImageOptions__ImageOptionsContainer"] button [class*="ImageOptions__StyledOptionLabelContainer"] {
      border: none;
      background-color: transparent;
      padding: 0; }
    .fsForm.fsForm fieldset [class*="ImageOptions__ImageOptionsContainer"] button [class*="StyledImageOption"] {
      background-size: 60px !important;
      width: 60px !important;
      height: 60px !important;
      border: none;
      box-shadow: none; }
    .fsForm.fsForm fieldset [class*="ImageOptions__ImageOptionsContainer"] button [class*="ImageOptions__StyledIcon"] {
      display: none; }
    .fsForm.fsForm fieldset [class*="ImageOptions__ImageOptionsContainer"] button label {
      font-weight: 600;
      color: var(--bs-primary) !important;
      line-height: 1.2; }
    .fsForm.fsForm fieldset [class*="ImageOptions__ImageOptionsContainer"] button:hover {
      background-color: var(--bs-primary);
      border-color: var(--bs-primary) !important; }
      .fsForm.fsForm fieldset [class*="ImageOptions__ImageOptionsContainer"] button:hover label {
        color: var(--bs-white) !important; }
      .fsForm.fsForm fieldset [class*="ImageOptions__ImageOptionsContainer"] button:hover [class*="StyledImageOption"] {
        filter: brightness(0) invert(1); }
    .fsForm.fsForm fieldset [class*="ImageOptions__ImageOptionsContainer"] button[aria-checked="true"] {
      background-color: var(--bs-accent) !important;
      border-color: var(--bs-accent) !important; }
      .fsForm.fsForm fieldset [class*="ImageOptions__ImageOptionsContainer"] button[aria-checked="true"] label {
        color: var(--bs-white) !important; }
      .fsForm.fsForm fieldset [class*="ImageOptions__ImageOptionsContainer"] button[aria-checked="true"] [class*="StyledImageOption"] {
        filter: brightness(0) invert(1); }
  .fsForm.fsForm fieldset[role="radiogroup"] > div:not([class*="ImageOptions__ImageOptionsContainer"]) [class*="StyledOptionLabel"] input {
    display: none; }
    .fsForm.fsForm fieldset[role="radiogroup"] > div:not([class*="ImageOptions__ImageOptionsContainer"]) [class*="StyledOptionLabel"] input:checked + span {
      background-color: var(--bs-accent) !important;
      border-color: var(--bs-accent) !important;
      color: var(--bs-white) !important; }
  .fsForm.fsForm fieldset[role="radiogroup"] > div:not([class*="ImageOptions__ImageOptionsContainer"]) [class*="StyledOptionLabel"] span {
    border: 2px solid var(--bs-primary);
    border-radius: 10px;
    padding: 20px 40px;
    cursor: pointer;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: var(--bs-primary); }
    .fsForm.fsForm fieldset[role="radiogroup"] > div:not([class*="ImageOptions__ImageOptionsContainer"]) [class*="StyledOptionLabel"] span:hover {
      background-color: var(--bs-primary);
      border-color: var(--bs-primary) !important;
      color: var(--bs-white) !important; }
  .fsForm.fsForm .fsPagination {
    margin-top: 0; }

@media (max-width: 767px) {
  header .logo {
    max-width: 200px; } }
@media (max-width: 575px) {
  header .logo {
    max-width: 200px; } }
@media (max-width: 380px) {
  header .logo {
    max-width: 150px; } }
@media (max-width: 767px) {
  header .logo-right {
    max-width: 100px; } }
@media (max-width: 480px) {
  header .btn {
    padding: 10px 15px;
    font-size: 1rem;
    letter-spacing: 0; } }

section.quote .inner {
  max-width: 910px; }

footer .logo-box img,
footer .logo-box svg {
  max-width: 650px;
  width: 100%;
  height: auto; }

.accordion-button {
  --bs-accordion-btn-bg: var(--bs-accent);
  --bs-accordion-active-bg: var(--bs-accent);
  --bs-accordion-active-color: var(--bs-white);
  --bs-accordion-btn-color: var(--bs-white);
  font-size: 26px;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 25px 50px; }
  .accordion-button:after {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23fff" class="bi bi-plus" viewBox="0 0 16 16"><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/></svg>'); }
  .accordion-button:not(.collapsed):after {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23fff" class="bi bi-dash" viewBox="0 0 16 16"><path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/></svg>'); }

.accordion-body {
  padding: 25px 50px;
  font-size: 14px; }

.accordion .accordion-item {
  border: none;
  background-color: var(--bs-light);
  border-radius: 10px;
  overflow: hidden; }
  .accordion .accordion-item:not(:last-child) {
    margin-bottom: 15px; }

/*# sourceMappingURL=style.css.map */
