:root {
    --pimary-color: #000;
    --accent-color: #2da1ff;
    --secondary-color: #00501f;
    --bs-border-radius: 10px;
    --bs-border-color: #707070;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    color: var(--bs-black);
    @media (max-width: 767px) {
        font-size: 22px;
    }
    @media (max-width: 767px) {
        font-size: 20px;
    }
    @media (max-width: 575px) {
        font-size: 18px;
    }
}
a {
    text-decoration: none;
    color: inherit;
}
p:last-child {
    margin-bottom: 0;
}
.bg-secondary {
    background-color: var(--secondary-color) !important;
}

.py-20px {
    padding: 20px 0;
}

.text-medium-size {
    font-size: 22px;
    @media (max-width: 991px) {
        font-size: 20px;
    }
    @media (max-width: 767px) {
        font-size: 18px;
    }
    @media (max-width: 575px) {
        font-size: 16px;
    }
}
.text-large-size {
    font-size: 32px;
    @media (max-width: 991px) {
        font-size: 30px;
    }
    @media (max-width: 767px) {
        font-size: 28px;
    }
    @media (max-width: 575px) {
        font-size: 26px;
    }
    @media (max-width: 360px) {
        font-size: 24px;
    }
}
.bg-image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.lg-padding {
    padding-top: 115px;
    padding-bottom: 115px;
    @media (max-width: 991px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media (max-width: 767px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @media (max-width: 575px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
.sm-padding {
    padding-top: 64px;
    padding-bottom: 64px;
    @media (max-width: 991px) {
        padding-top: 54px;
        padding-bottom: 54px;
    }
    @media (max-width: 767px) {
        padding-top: 44px;
        padding-bottom: 44px;
    }
    @media (max-width: 575px) {
        padding-top: 34px;
        padding-bottom: 34px;
    }
}
.mb-large {
    margin-bottom: 80px;
    @media (max-width: 991px) {
        margin-bottom: 60px;
    }
    @media (max-width: 767px) {
        margin-bottom: 40px;
    }
    @media (max-width: 575px) {
        margin-bottom: 30px;
    }
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 40px;
}
section {
    overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1.4;
}
h1 {
    font-size: 108px;
    line-height: 96px;
    @media (max-width: 1199px) {
        font-size: 90px;
    }
    @media (max-width: 991px) {
        font-size: 70px;
    }
    @media (max-width: 767px) {
        font-size: 60px;
    }
    @media (max-width: 575px) {
        font-size: 50px;
    }
    @media (max-width: 360px) {
        font-size: 40px;
    }
}

h2 {
    font-size: 80px;
    @media (max-width: 1199px) {
        font-size: 70px;
    }
    @media (max-width: 991px) {
        font-size: 60px;
    }
    @media (max-width: 767px) {
        font-size: 50px;
    }
    @media (max-width: 575px) {
        font-size: 40px;
    }
    @media (max-width: 360px) {
        font-size: 30px;
    }
}
h3 {
    font-size: 40px;
    @media (max-width: 575px) {
        font-size: 30px;
    }
    @media (max-width: 360px) {
        font-size: 25px;
    }
}
.button-box {
    a {
        --bs-border-radius: 8px;
        font-size: 21px;
        background-color: var(--accent-color);
        color: var(--bs-white);
        padding: 25px;
        line-height: 1;
        border: 1px solid var(--accent-color);
        max-width: 270px;
        width: 100%;
        display: inline-block;
        transition: 400ms;
        &:hover {
            background-color: transparent;
            color: var(--accent-color);
        }
        @media (max-width: 1199px) {
            padding: 20px;
            font-size: 19px;
        }
        @media (max-width: 991px) {
            padding: 16px;
            font-size: 18px;
        }
        @media (max-width: 767px) {
            font-size: 17px;
        }
    }
}

.container {
    @media (min-width: 1500px) {
        max-width: 1420px;
    }
    @media (min-width: 1600px) {
        max-width: 1520px;
    }
}

header {
    a {
        text-decoration: none;
    }
}

.hero-logos {
    img {
        max-width: 215px;
        @media (max-width: 575px) {
            max-width: 150px;
        }
        @media (max-width: 480px) {
            max-width: 100px;
        }
    }
    svg {
        @media (max-width: 575px) {
            max-width: 200px;
        }
        @media (max-width: 480px) {
            max-width: 150px;
        }
    }
}

.event-countdown {
    .col-auto {
        @media (max-width: 480px) {
            width: 50%;
        }
    }
    .countdown-box {
        color: var(--secondary-color);
        background-color: var(--bs-white);
        width: 150px;
        font-size: 90px;
        font-weight: 600;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 1199px) {
            font-size: 80px;
        }
        @media (max-width: 991px) {
            font-size: 70px;
        }
        @media (max-width: 767px) {
            font-size: 60px;
            width: 100px;
        }
        @media (max-width: 575px) {
            font-size: 50px;
            width: 80px;
        }
        @media (max-width: 480px) {
            font-size: 40px;
            width: 100%;
        }

        & + span {
            font-size: 19px;
            font-weight: 600;
            margin-top: 10px;
            @media (max-width: 991px) {
                font-size: 18px;
            }
            @media (max-width: 767px) {
                font-size: 17px;
            }
            @media (max-width: 575px) {
                font-size: 16px;
            }
        }
    }
}
section.hero {
    .heading-box {
        max-width: 1100px;
    }
    .inner {
        min-height: calc(100vh - 105px - 20px);
    }
}
section.distributor {
    .title {
        font-size: 32px;
        font-weight: 600;
    }
    .box {
        h3 {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 2rem;
           
           
        }

        p {
            font-size: 18px;
        }
        @media (max-width: 575px) {
            padding: 20px !important;
        }
    }
}

section.launch {
    .box {
        gap: 50px;
        @media (max-width: 991px) {
            gap: 40px;
        }
        @media (max-width: 767px) {
            gap: 30px;
        }
        @media (max-width: 575px) {
            gap: 20px;
            padding: 20px !important;
        }
    }
}
section.coptrz-text {
    .inner {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        svg {
            max-width: 100%;
            @media (max-width: 575px) {
                max-width: 250px;
            }
        }
    }
}
footer {
    .main-row {
        gap: 10vw;
        @media (max-width: 1199px) {
            gap: 40px;
        }
        @media (max-width: 991px) {
            gap: 20px;
        }
        @media (max-width: 767px) {
            justify-content: center;
        }
    }
}
.footer-logos {
    --bs-gutter-x: 40px;
    > div {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
    }
    > div.col-border {
        padding: 0 !important;
        border-right: 1px solid var(--bs-border-color);
        @media (max-width: 575px) {
            height: 30px;
        }
    }
    img,
    svg {
        max-height: 32px;
        @media (max-width: 575px) {
            max-height: 25px;
        }
    }
    @media (max-width: 575px) {
        flex-direction: column;
        align-items: center;
    }
}

.socials {
    ul {
        gap: 32px;
        @media (max-width: 991px) {
            gap: 20px;
        }
    }
}
